{% extends 'products/base.html' %}
{% load static %}

<link href="{% static 'css/tracking.css' %}">

{% block content %}
      <div class="row ">
    <div class="col-lg-2">

    </div>

    <div class="col-lg-8">
        <br>        <br>
        <br>

          <form class="form-inline my-2 my-lg-0">
    Track Your  Order
      <input class="form-control mr-sm-2" type="search" placeholder="enter your order Id " aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    </div>
    <div class="col-lg-2">

    </div>
  </div>

    <div class="row">
    <div class="col-lg-2">

    </div>
    <div class="col-lg-8">
        <table class="table">
  <caption>List of users</caption>
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>
    </div>
    </div>
{% endblock %}