

<!doctype html>
{% load static %}

<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>




    <title>Ecommerce site</title>
</head>


<body>
{% include 'products/navbar.html' %}

<div class="container">
    {% block content %}
   
        

    {% endblock %}
</div>




<!-- end Single product -->
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->



<script>
    $(document).ready(function () {
        $("#search-box").keyup(function () {
            var selectedText = $("#category-id").find("option:selected").val();
            var mydata = {
                search: $(this).val(),
                category: selectedText
            };
            $.ajax({
                type: "GET",
                url: "{% url 'search_products' %}",
                data: mydata,
                success: function (data) {
                    $("#suggesstion-box").html(data);
                },
            });
        });
    });
</script>

<script>
    $(document).ready(function () {
        $("#add-to-cart").click(function () {

            var mydata = {
                add_product: $('#add-product').val(),
                'csrfmiddlewaretoken': "{{ csrf_token }}",
            };
            $.ajax({
                type: "GET",
                url: "{% url 'add_to_cart' %}",
                data: mydata,
                success: function (data) {
                    $("#cart-detail").html(data);
                },
            });
        });
    });
</script>

{% block js %}
    
{% endblock js %}
</body>

</html>